html {
    font-size: 33px;
    line-height: 60px;
    color: rgb(255, 255, 255);
}
.tarif {
    border: 6px solid rgb(19, 89, 23);
}
.tafir_bezlimit {
    background-color: rgb(0, 165, 165);
}
.tarif_ryb {
    font-size: 50px;
    line-height: 150px;
    background-color: rgb(91, 216, 216);
}
.tarif_doc {
    font-size: 25px;
    background-color: rgba(220, 220, 220, 0.489);
    color: #000;
}
.tarif_ob {
    font-size: 25px;
    background-color: rgba(64, 66, 68, 0.186);
    line-height: 35px;
    color: #000;
}
.tarif_vibor {
    font-size: 20px;
    background-color: aquamarine;
}
.selected {
    border: 15px ridge rgb(37, 206, 37);
}